<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.create_keyboard1">

    <uses-permission
        android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/splashicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/splashicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Create_Keyboard1">
        <activity android:name=".Otherclasses.CamGalleryBackground"></activity>
        <activity android:name=".Otherclasses.InAppPurchase" />
        <activity android:name=".Otherclasses.InstructionScreenS" />
        <activity android:name=".Otherclasses.PrivacyPolicy" />
        <activity android:name=".Otherclasses.KeyboardThemeActivity" />
        <activity android:name=".Otherclasses.SettingActivity" />
        <activity android:name=".Otherclasses.ExitScreen" />
        <activity android:name=".Otherclasses.Background" />
        <activity android:name=".Otherclasses.MainMenu" />
        <activity android:name=".Otherclasses.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".Otherclasses.SimpleIME"
            android:label="@string/simple_ime"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />

            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>